@font-face{
    font-family: 'frutiger';
    src: url('../fonts/frutigerLTStd-Light.otf')
}

@font-face{
    font-family: 'frutiger bold';
    src: url('../fonts/frutigerLTStd-Bold.otf')
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #e6e6e9;
    font-family: frutiger;
}

.filter{
    width: calc(100% - 28px);
    height: auto;
    background: linear-gradient(180deg,rgba(255,201,23,.9) 0,#ffc917 3.75rem,#ffc917);
    padding: 2em;
    margin: -3.15rem  auto 0;
}


h1{
    color: #003082;
    font-weight: 400;
    font-family: 'frutiger';
    font-size: 2.375rem;
}


/*HEADER + menu*/

header{
    background-color: #ffffff;
    box-shadow: 0 0.125rem 0 0 rgba(7,7,33,.15);
    position: relative;

    }
.container {
    padding: 1.125rem .875rem 1.0625rem;
    max-width: 75em;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

header nav {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
}

header nav ul {
  list-style: none;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    display: inline-block;
    font-size: 1em;
    line-height: 1.67rem;
    text-decoration: none;
    font-weight: 400;
    padding-left: 1.75em;
    color: #003082;
}


/*MAIN*/
main{
    max-width: 75em;
    margin: 0 auto;
}

section.banner {
    background-image: url(../img/bannerTijdelijk.jpg);
    width: 100vw;
    height:28rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

section.verhalen{
    display: flex;
    flex-wrap: wrap;
}

article{
    max-width: 100%;
    background-color: #ffffff;
    padding: 2em;
    box-shadow: 0 0.125rem 0 0 rgba(7,7,33,.15);
    margin: 14px 14px 20px;
    display: flex;
    flex-direction: column;
}

article>img{
    height: 131px;
    object-fit: cover;
    width: calc(100% + 4em);
    display: inline-block;
    vertical-align: middle;
    margin: -2em -2em 1.25em;
    justify-content: flex-start;
}

article h3 {
    color: #003082;
    font-size: 20px;
    line-height: 22px;
    font-weight: 400;
    margin-bottom: 0.63rem;
    font-family: frutiger;
}

article a{
    color: #2D77BD;
    text-decoration: none;
    display: inline-block;
    padding-left: 1.5625rem;
    background-repeat: no-repeat;
    background-position: -5% 58%;
    background-image: url('../img/arrow.svg');
}

.content p{
    font-size: 1em;
    font-weight: 400;
    padding: 0 0 1.1rem 0;
    line-height: 1.5rem;
}

article footer{
    display: flex;
    padding: 0 0 1rem;
}


article p.thema{
    font-weight: 800;
    font-family: 'frutiger bold';
    font-size: 0.88rem;
    color: #003082;
    justify-content: flex-start;
}

article p.tijd{
    font-weight: 800;
    font-family: 'frutiger bold';
    font-size: 0.88rem;
    color: #003082;
    justify-content: flex-end;
    margin-left: auto;
}

@media screen and (min-width: 30rem){

    article{
        width: calc(100% / 2 - 28px);
    }

    article h3 {
        font-size: 24px;
    }

}

@media screen and (min-width: 60rem){

    article{
        width: calc(100% / 3 - 28px);
    }


}
